AWSTemplateFormatVersion: "2010-09-09"

Description: Microtrader Pipeline

Resources:
  PipelineBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName:
        Fn::Sub: ${AWS::AccountId}-${AWS::StackName}
      Tags:
        - Key: Name
          Value:
            Fn::Sub: ${AWS::AccountId}-${AWS::StackName}